In [1]:
!git clone https://github.com/YerevaNN/mimic3-benchmarks/

Cloning into 'mimic3-benchmarks'...
remote: Enumerating objects: 1716, done.
remote: Total 1716 (delta 0), reused 0 (delta 0), pack-reused 1716
Receiving objects: 100% (1716/1716), 11.24 MiB | 26.16 MiB/s, done.
Resolving deltas: 100% (1221/1221), done.

In [1]:
import pandas as pd

In [14]:
item_map.to_csv('item_map.csv')

In [17]:
import boto3

s3 = boto3.resource('s3')
s3.meta.client.upload_file('item_map.csv', 'aws-athena-query-results-441066871063-us-east-1', 'item_map.csv')

TypeError: upload_file() got an unexpected keyword argument 'header'

In [15]:
hadoop -put item_map.csv /user/livy/item_map.csv

SyntaxError: invalid syntax (<ipython-input-15-44cf5d56e387>, line 1)

In [2]:
item_map = pd.read_csv('mimic3-benchmarks/mimic3benchmark/resources/itemid_to_variable_map.csv')

In [3]:
item_map.head()

,LEVEL2,LEVEL1,ALTERNATIVE,STATUS,STATUS NOTE,ITEMID,MIMIC LABEL,UNITNAME,LINKSTO,COUNT,CATEGORY,CONCEPTID,FLUID,LOINC_CODE,DBSOURCE,Unnamed: 15,PARAM_TYPE,NOTE
0,Alanine aminotransferase,Alanine aminotransferase,ALT,verify,NaN,50861,ALANINE AMINOTRANSFERASE (ALT),NaN,labevents,219475,CHEMISTRY,NaN,BLOOD,6/1/1742,NaN,NaN,NaN,NaN
1,Alanine aminotransferase,Alanine aminotransferase,ALT,verify,NaN,769,ALT,NaN,chartevents,41594,Enzymes,NaN,NaN,NaN,carevue,NaN,NaN,NaN
2,Alanine aminotransferase,Alanine aminotransferase,ALT,verify,NaN,220644,ALT,None,chartevents,37625,Labs,NaN,NaN,NaN,metavision,NaN,Numeric,NaN
3,Albumin,Albumin,NaN,verify,NaN,50862,ALBUMIN,NaN,labevents,146697,CHEMISTRY,NaN,BLOOD,7/1/1751,NaN,NaN,NaN,NaN
4,Albumin,Albumin,NaN,verify,NaN,772,Albumin (>3.2),NaN,chartevents,31022,Chemistry,NaN,NaN,NaN,carevue,NaN,NaN,NaN